<!doctype html>
<html lang="ru">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		{% block styles %}
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		{% endblock %}
		<title>Личный кабинет</title>
		
	</head>
	<body>
		<header id="header" class="header">
			<div class = "container">
				<div class = "row">
					<div class = "col">
						{% with messages = get_flashed_messages() %}
							{% if messages %}
									<div class="alert alert-primary" role="alert">
									{% for message in messages %}
										{{ message }}<br>
									{% endfor %}
									</div>
							{% endif %}
									<div class="alert alert-primary d-none" role="alert" id = "ajaxAlert">
									</div>
						{% endwith %}
					</div>
				</div>
				<div class="row">
					<div class="col text-right">
						<h3 class = "my-0 mr-md-auto font-weight-normal">
							<a href="/index"><img src="http://84.201.139.143:81/static/logo.png" alt="Logo"></a>
						</h3>
					</div>
					<div class="col text-left">
						<h3 class = "my-0 mr-md-auto font-weight-normal pt-3">
							Личный кабинет
						</h3>
					</div>
				</div>
				{% if not current_user.is_anonymous %}
					<div class = "row">
						<div class = "col">
							<nav class="navbar navbar-expand-md navbar-light bg-light">
								<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
									<span class="navbar-toggler-icon"></span>
								</button>
								<div class="collapse navbar-collapse" id="navbarSupportedContent">
									<ul class="navbar-nav mr-auto">
										<li class="nav-item {% if menuItem == 0 %} active {% endif %}">
											<a class="nav-link" href="{{ url_for('main.ShowIndex') }}">Главная</a>
										</li>
										<li class="nav-item {% if menuItem == 1 %} active {% endif %}">
											<a class="nav-link" href="{{ url_for('main.ShowOrders') }}">Заказы</a>
										</li>
										<li class="nav-item {% if menuItem == 2 %} active {% endif %}">
											<a class="nav-link" href="{{ url_for('main.ShowProducts') }}">Товары</a>
										</li>
										<li class="nav-item {% if menuItem == 3 %} active {% endif %}">
											<a class="nav-link" href="{{ url_for('main.ShowSettings') }}">Настройки</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="{{ url_for('auth.PerformLogout') }}">Выйти</a>
										</li>
									</ul>
									<form class="form-inline my-2 my-lg-0" method="GET" action="/products/">
										<input class="form-control mr-sm-2" type="search" placeholder="Товары" aria-label="Search" name="search">
										<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Найти</button>
									</form>
								</div>
							</nav>
						</div>
					</div>
				{% endif %}
			</div>
		</header>

		{% block content %}{% endblock %}
		{% block scripts %}
			<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js" integrity="sha384-FzT3vTVGXqf7wRfy8k4BiyzvbNfeYjK+frTVqZeNDFl8woCbF0CYG6g2fMEFFo/i" crossorigin="anonymous"></script>	
			<script>
				function ShowAjaxFlashes(data){
					var ajaxAlert = $('#ajaxAlert');
					ajaxAlert.removeClass("d-none alert-primary alert-warning");
					ajaxAlert.empty();
					if (data.status == true)
					{
						ajaxAlert.addClass("alert-primary");
					}
					else
					{
						ajaxAlert.addClass("alert-warning");
					}
					data.flash.forEach(function(element) {
						ajaxAlert.append(element + '<br>');
					});
					var orderList = $('#orderList');
					orderList.prepend(data.orderMarkup)
				}
			</script>
		{% endblock %}
	</body>
</html>